In [31]:
# Libaries
import pandas as pd
from sklearn.linear_model import LinearRegression

In [32]:
# Read data in
teams = pd.read_csv("teams.csv")

# Get rid of extra columns
teams = teams[["team", "country", "year", "athletes", "age", "prev_medals", "medals"]]

In [33]:
# Data Cleaning
teams = teams.dropna()

In [34]:
# Split Data 
trainData = teams[teams["year"] < 2012].copy()
testData = teams[teams["year"] >= 2012].copy()

In [35]:
# Set up model
model = LinearRegression()
columns = ["athletes", "prev_medals"]
predicting = "medals"

# Train the model
model.fit(trainData[columns], trainData[predicting])

# Making predictions on test data
testData["predictions"] = model.predict(testData[columns])

# No negative values
testData["predictions"] = testData["predictions"].apply(lambda x: max(x, 0))

# Round predictions
testData["predictions"] = testData["predictions"].apply(round)

In [44]:
# Predictions
testData

     team      country  year  athletes   age  prev_medals  medals  predictions
6     AFG  Afghanistan  2012         6  24.8          1.0       1            0
7     AFG  Afghanistan  2016         3  24.7          1.0       0            0
24    ALB      Albania  2012        10  25.7          0.0       0            0
25    ALB      Albania  2016         6  23.7          0.0       0            0
37    ALG      Algeria  2012        39  24.8          2.0       1            2
...   ...          ...   ...       ...   ...          ...     ...          ...
2111  YEM        Yemen  2016         3  19.3          0.0       0            0
2131  ZAM       Zambia  2012         7  22.6          0.0       0            0
2132  ZAM       Zambia  2016         7  24.1          0.0       0            0
2142  ZIM     Zimbabwe  2012         9  27.3          4.0       0            2
2143  ZIM     Zimbabwe  2016        31  27.5          0.0       0            0

[405 rows x 8 columns]